/****************************************************/
/*          Hoja de estilo receta.html            */
/*          autor: Álvaro Leiva                     */
/*          versión: 1.0                            */
/*          fecha: 17/10/2023                       */
/*          comentario: Trabajo l. marcas           */
/****************************************************/

:root {
  --title-color: #9a3b3b;
  --text-color: #c08261;
  --bg-color: #f2ecbe;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h2,
h3 {
  color: var(--title-color);
}

blockquote {
  border-left: 4px solid purple;
  background-color: #fff;
  padding: 1rem 0.5rem;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 2rem 0.5rem;
  box-shadow: 5px 5px 10px black;
}

#wrapper {
  background-color: var(--bg-color);
  margin: auto;
  width: 95%;
  margin: 2rem auto 2rem auto;
  padding: 2rem;
}

.titulo {
  text-align: center;
  border-bottom: 2px solid purple;
}

/* Main */
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main .texto {
  display: flex;
  flex-direction: column;
}

/* Main ingredientes */
.ingredientes {
  height: 100%;
  width: 100%;
}

.ingredientes h2 {
  font-size: xx-large;
}

.ingredientes li {
  font-size: larger;
}

/* Main info-nutricional */

.info-nutricional dl {
  margin-left: 2rem;
}

/* Main imagenes */

.imagenes img {
  object-fit: cover;
  height: 10rem;
}

.imagenes img:hover {
  scale: 1.15;
  z-index: 1;
  transition-duration: 50ms;
}

.imagenes .linea {
  display: flex;
  height: 50%;
}

.imagenes .img-larga {
  width: 55%;
}

.imagenes .img-corta {
  width: 45%;
}

@media screen and (min-width: 640px) {
  .main .texto {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  #wrapper {
    width: 80%;
  }

  .main {
    flex-direction: row-reverse;
  }

  .main .texto {
    flex-direction: column;
  }

  blockquote {
    margin: 2rem 4rem;
  }
}
